* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --gradientB: #1b2335;
  --gradientA: #080d17;
  --accentcolor: #466dcc;
  --graytext: #aaaaaa;
  --darkcolor: #131313;
}

body {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  scroll-behavior: smooth;
  overflow: hidden;
}

@font-face {
  font-family: A-ExtraBold;
  src: url("/fonts/ArgentumSans-ExtraBold.ttf");
}
@font-face {
  font-family: A-Light;
  src: url("/fonts/ArgentumSans-Light.ttf");
}
@font-face {
  font-family: Zapfino;
  src: url("/fonts/ZapfinoExtraLTPro.otf");
}
.page-transition .curtain {
  position: absolute;
  z-index: 100;
  background-color: #fff;
  height: 100vh;
  width: 100vw;
  -webkit-clip-path: polygon(100% 0%, 100% 0%, 100% 100%, 100% 100%);
          clip-path: polygon(100% 0%, 100% 0%, 100% 100%, 100% 100%);
  /*clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%); Gallery Opened*/
}

/* LINK HOVER ANIMATION*/
.effect-underline:after {
  content: "";
  position: absolute;
  left: 0;
  display: inline-block;
  height: 1em;
  width: 100%;
  border-bottom: 3px solid;
  margin-top: 10px;
  opacity: 0;
  transition: opacity 0.35s, transform 0.35s ease-in-out;
  transform: scale(0, 1);
}

.effect-underline:hover:after {
  opacity: 1;
  transform: scale(1);
}

/* LINK HOVER ANIMATION END*/
.header-col {
  background: rgb(8, 13, 23);
  background: linear-gradient(45deg, rgb(8, 13, 23) 0%, rgb(27, 35, 53) 100%);
  width: 25%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-items: center;
}
.header-col .gxs {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 15%;
}
.header-col .gxs .gxs-logo {
  max-width: 200px;
}
.header-col .team-name {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70%;
  padding: 50% 0;
}
.header-col .team-name .overlaps {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: center;
  transform: rotate(-90deg);
}
.header-col .team-name .overlaps p:nth-child(1) {
  font-family: Zapfino;
  font-weight: lighter;
  font-size: 7vw;
  color: #fff;
  width: 100%;
  text-align: center;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 0;
  margin: 0;
  position: relative;
}
.header-col .team-name .overlaps p:nth-child(2) {
  line-height: 2.5;
  font-weight: 600;
  font-family: A-ExtraBold;
  font-size: 2.5vw;
  letter-spacing: 0.5vw;
  color: var(--accentcolor);
  text-shadow: 0px -20px 40px #000;
  position: absolute;
  margin-top: 2.5vw;
  padding: 0;
}
.header-col .extra {
  width: 100%;
  height: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: transparent;
  border-top: 1px solid var(--graytext);
}
.header-col .extra .cta-mobile {
  display: none;
}
.header-col .extra p {
  font-family: A-ExtraBold;
  color: var(--graytext);
}
.header-col .extra .text1 {
  font-size: 0.9rem;
  text-align: center;
  margin-bottom: 0.5rem;
  -webkit-animation: pulse 800ms ease-in-out infinite alternate;
          animation: pulse 800ms ease-in-out infinite alternate;
}
.header-col .extra .text2 {
  font-family: A-Light;
  font-style: italic;
  font-size: 0.7rem;
}

.image-col {
  background-image: url("/img/dragon-mockup.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 55%;
  display: flex;
}
.image-col .image-zoom {
  background-repeat: no-repeat;
  background-size: 300%;
  background-image: url("/img/dragon-vector.jpg");
  background-position: 35% 30%;
  width: 8vw;
  height: 8vw;
  transform: translateX(14vw) translateY(55vh);
  box-shadow: 0 50px 90px #000;
  transition: background-size 0.3s ease-in-out;
}
.image-col .image-zoom:hover {
  background-size: 500%;
}
.image-col .badge {
  background-color: var(--darkcolor);
  background-image: url("/img/badge-text.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80%;
  width: 100px;
  height: 100px;
  position: absolute;
  bottom: 10%;
  margin-left: -50px;
  -webkit-clip-path: circle(50% at 50% 50%);
          clip-path: circle(50% at 50% 50%);
}

.text-col {
  background-color: #fff;
  width: 20%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.text-col .menu {
  height: 10%;
}
.text-col .menu ul {
  padding: 2em 0;
  display: flex;
  justify-content: center;
}
.text-col .menu ul li {
  text-decoration: none;
  list-style: none;
  margin-right: 20px;
  align-items: center;
}
.text-col .menu ul li a {
  color: var(--gradientB);
  text-decoration: none;
  font-family: A-ExtraBold, sans-serif;
  text-transform: uppercase;
  align-items: center;
  position: relative;
}
.text-col .menu ul li a img {
  height: 18px;
}
.text-col .description {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1.5rem;
  height: 90%;
  justify-content: space-between;
}
.text-col .description h2 {
  font-family: A-ExtraBold, sans-serif;
  font-size: 2.5rem;
  color: var(--gradientA);
  width: 100%;
  text-align: left;
  margin-bottom: 1rem;
}
.text-col .description p {
  font-family: A-Light, sans-serif;
  font-size: 0.8rem;
  line-height: 1.3rem;
  color: var(--graytext);
  text-align: left;
}
.text-col .description p:first-child {
  font-family: A-ExtraBold, sans-serif;
  font-size: 2rem;
  color: rgb(189, 41, 41);
  text-align: left;
  margin-bottom: 1rem;
}

.logos-wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  opacity: 0;
}
.logos-wrapper .mobile-footer {
  display: none;
}
.logos-wrapper .mobile-previewbox-wrapper {
  display: none;
}
.logos-wrapper .logos-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  background-image: url("/img/dragon-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  border-right: 2px solid var(--graytext);
}
.logos-wrapper .logos-header .dragon-logo {
  width: 100%;
  height: 20%;
  padding: 30px 60px 30px 60px;
  display: flex;
  justify-content: left;
  align-items: center;
}
.logos-wrapper .logos-header .dragon-logo img {
  cursor: pointer;
  max-height: 50px;
  transition: transform 0.5s ease-in-out;
}
.logos-wrapper .logos-header .dragon-logo img:hover {
  transform: rotate(90deg);
}
.logos-wrapper .logos-header .logos-header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 70%;
}
.logos-wrapper .logos-header .logos-header-content .header-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 40%;
  width: 100%;
}
.logos-wrapper .logos-header .logos-header-content .header-info h1 {
  font-family: A-ExtraBold;
  font-size: 5em;
  color: var(--gradientA);
  margin-bottom: 20px;
}
.logos-wrapper .logos-header .logos-header-content .header-info .quote {
  display: flex;
  flex-direction: row;
}
.logos-wrapper .logos-header .logos-header-content .header-info .quote span {
  height: 2px;
  width: 25px;
  background-color: var(--gradientA);
  margin: 10px 10px 0 0;
}
.logos-wrapper .logos-header .logos-header-content .header-info .quote p {
  font-family: A-Light;
  font-weight: 600;
  font-size: 1em;
  font-style: italic;
  color: var(--gradientA);
}
.logos-wrapper .logos-header .logos-header-content .instructions {
  width: 100%;
  height: 60%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.logos-wrapper .logos-header .logos-header-content .instructions img {
  max-height: 30px;
  margin-right: 10px;
}
.logos-wrapper .logos-header .logos-header-content .instructions p {
  font-family: A-Light;
  font-weight: 600;
  font-size: 1rem;
  color: var(--gradientA);
  max-width: 35%;
}
.logos-wrapper .logos-header .logos-footer {
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logos-wrapper .logos-header .logos-footer p {
  font-family: A-Light;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--graytext);
  text-align: center;
}
.logos-wrapper .logos-container {
  display: flex;
  overflow: auto;
  box-sizing: border-box;
  height: 100%;
  width: 50%;
}
.logos-wrapper .logos-container .blank-logo {
  background-color: #fff;
  height: 300px;
  position: relative;
}
.logos-wrapper .logos-container .blank-logo p:nth-child(1) {
  font-family: A-ExtraBold;
  font-size: 1rem;
  color: var(--gradientA);
  position: absolute;
  bottom: 1rem;
  left: 1rem;
}
.logos-wrapper .logos-container .blank-logo p:nth-child(2) {
  font-family: A-ExtraBold;
  font-size: 5rem;
  line-height: 5rem;
  color: var(--graytext);
  position: absolute;
  bottom: 0.3rem;
  right: 1rem;
}
.logos-wrapper .logos-container .logo {
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: filter 0.3s ease-in-out;
  filter: saturate(0);
}
.logos-wrapper .logos-container .logo:hover {
  filter: saturate(1);
}
.logos-wrapper .logos-container a {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logos-wrapper .logos-container .col-1 {
  display: block;
  width: 50%;
}
.logos-wrapper .logos-container .col-1 .logo img {
  padding: 1rem;
  height: 90%;
}
.logos-wrapper .logos-container .col-1 .logo:nth-child(2) {
  background: #0f0c29;
  background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
}
.logos-wrapper .logos-container .col-1 .logo:nth-child(4) {
  background: #add100;
  background: linear-gradient(to right, #7b920a, #add100);
}
.logos-wrapper .logos-container .col-1 .logo:nth-child(6) {
  background: linear-gradient(90deg, #1cb5e0 0%, #000851 100%);
}
.logos-wrapper .logos-container .col-1 .logo:nth-child(8) {
  background: linear-gradient(45deg, #0700b8 0%, #00ff88 100%);
}
.logos-wrapper .logos-container .col-1 .logo:nth-child(10) {
  background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
}
.logos-wrapper .logos-container .col-1 .logo:nth-child(12) {
  background: linear-gradient(210deg, #efd5ff 0%, #515ada 100%);
}
.logos-wrapper .logos-container .col-1 .logo:nth-child(14) {
  background: linear-gradient(90deg, #fc466b 0%, #3f5efb 100%);
}
.logos-wrapper .logos-container .col-2 {
  display: block;
  width: 50%;
}
.logos-wrapper .logos-container .col-2 .logo img {
  padding: 2rem;
  height: 100%;
}
.logos-wrapper .logos-container .col-2 .logo:nth-child(3) {
  background: #000428;
  background: linear-gradient(180deg, #004e92, #000428);
}
.logos-wrapper .logos-container .col-2 .logo:nth-child(5) {
  background: #00c6ff;
  background: linear-gradient(to right, #0072ff, #00c6ff);
}
.logos-wrapper .logos-container .col-2 .logo:nth-child(7) {
  background: linear-gradient(45deg, #fc466b 0%, #3f5efb 100%);
}
.logos-wrapper .logos-container .col-2 .logo:nth-child(9) {
  background: linear-gradient(45deg, #d53369 0%, #daae51 100%);
}
.logos-wrapper .logos-container .col-2 .logo:nth-child(11) {
  background: linear-gradient(0deg, #f8ff00 0%, #3ad59f 100%);
}
.logos-wrapper .logos-container .col-2 .logo:nth-child(13) {
  background: linear-gradient(45deg, #fdbb2d 0%, #3a1c71 100%);
}
.logos-wrapper .logos-container .col-2 .logo:nth-child(15) {
  background: linear-gradient(0deg, #9c1a1a 0%, #dba329 100%);
}
.logos-wrapper .logos-container .col-2 .blank-logo:nth-child(1) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #e43a15;
  background: linear-gradient(to right, #e65245, #e43a15);
}
.logos-wrapper .logos-container .col-2 .blank-logo:nth-child(1) p {
  text-transform: uppercase;
  font-size: 1rem;
  color: #fff;
  position: initial;
}

.preview-box {
  position: fixed;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%) scale(0.9);
  background: #fff;
  max-width: 35vw;
  max-height: 35vw;
  width: 100%;
  height: 100%;
  z-index: 200;
  opacity: 0;
  pointer-events: none;
  border-radius: 3px;
  padding: 0;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}
.preview-box .details {
  padding: 1rem;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 201;
}
.preview-box .details .icon {
  color: #fff;
  font-family: A-ExtraBold, sans-serif;
  font-size: 20px;
  cursor: pointer;
  opacity: 0.8;
  transition: opacity 0.3s ease;
}
.preview-box .details .icon:hover {
  opacity: 1;
}
.preview-box .before,
.preview-box .after {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  overflow: hidden;
}
.preview-box .before .content-image,
.preview-box .after .content-image {
  height: 100%;
}
.preview-box .scroller {
  width: 50px;
  height: 50px;
  position: absolute;
  left: 100px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  background-color: transparent;
  opacity: 0.9;
  pointer-events: auto;
  cursor: pointer;
  filter: invert(1);
}
.preview-box .scroller:hover {
  opacity: 1;
}
.preview-box .scrolling {
  pointer-events: none;
  opacity: 1;
  z-index: 1;
}
.preview-box .scroller__thumb {
  width: 100%;
  height: 100%;
  padding: 5px;
}
.preview-box .scroller:before,
.preview-box .scroller:after {
  content: " ";
  display: block;
  width: 7px;
  height: 9999px;
  position: absolute;
  left: 50%;
  margin-left: -3.5px;
  z-index: 30;
  transition: 0.1s;
}
.preview-box .scroller:before {
  top: 100%;
}
.preview-box .scroller:after {
  bottom: 100%;
}
.preview-box .scroller {
  border: 5px solid rgb(0, 0, 0);
}
.preview-box .scroller:before,
.preview-box .scroller:after {
  background: rgb(0, 0, 0);
}
.preview-box.show {
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
  transition: all 0.3s ease;
}

.cta-main,
.cta-mobile {
  background: #466dcc;
  font-family: A-ExtraBold, sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  text-align: center;
  width: 100%;
  padding: 1.5rem 5rem;
  transition: background 0.3s ease-in-out;
}
.cta-main:hover,
.cta-mobile:hover {
  background: #1b2335;
}

@-webkit-keyframes scroll {
  0% {
    transform: translateY(0);
    opacity: 0;
  }
  30% {
    transform: translateY(100px);
  }
}

@keyframes scroll {
  0% {
    transform: translateY(0);
    opacity: 0;
  }
  30% {
    transform: translateY(100px);
  }
}
@-webkit-keyframes pulse {
  0% {
    filter: brightness(1.2);
  }
  100% {
    filter: brightness(0.7);
  }
}
@keyframes pulse {
  0% {
    filter: brightness(1.2);
  }
  100% {
    filter: brightness(0.7);
  }
}
svg #wheel {
  -webkit-animation: scroll ease 1.5s infinite;
          animation: scroll ease 1.5s infinite;
}

@media screen and (max-width: 43rem) {
  /*Mobile Devices*/
  body {
    flex-direction: column;
    overflow-y: scroll;
  }
  .header-col {
    height: 100vh;
    width: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("/img/dragon-mockup.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .header-col .gxs {
    padding: 2rem 0;
  }
  .header-col .gxs .gxs-logo {
    width: 100%;
    max-width: 180px;
  }
  .header-col .team-name .overlaps {
    transform: rotate(0);
  }
  .header-col .team-name .overlaps p:nth-child(1) {
    font-size: 6rem;
  }
  .header-col .team-name .overlaps p:nth-child(2) {
    font-size: 2rem;
    line-height: 2rem;
    margin-top: 2rem;
    text-shadow: 0px -0.5rem 2rem #000;
  }
  .header-col .extra {
    background: var(--gradientA);
    background: linear-gradient(to right, var(--gradientA), var(--gradientB));
    height: 7rem;
    padding: 1.5rem;
    position: fixed;
    bottom: 0;
  }
  .header-col .extra p {
    display: none;
  }
  .header-col .extra .cta-mobile {
    display: initial;
  }
  .image-col {
    display: none;
  }
  .sticky {
    position: fixed;
    top: 0;
    height: 5rem;
  }
  .text-col {
    width: 100%;
    padding: 1rem;
  }
  .text-col .menu {
    display: none;
  }
  .text-col .cta-main {
    display: none;
  }
  .logos-wrapper {
    width: 100%;
    flex-direction: column;
    padding: 0;
  }
  .logos-wrapper .mobile-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    background-color: var(--gradientB);
  }
  .logos-wrapper .mobile-footer p {
    font-family: A-Light;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--graytext);
    text-align: center;
  }
  .logos-wrapper .mobile-previewbox-wrapper {
    width: 100%;
    height: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .logos-wrapper .mobile-previewbox-wrapper .mobile-preview-box {
    aspect-ratio: 1/1;
    width: 90%;
    position: relative;
    opacity: 1;
    pointer-events: none;
    border-radius: 0;
    padding: 0;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    overflow: hidden;
  }
  .logos-wrapper .mobile-previewbox-wrapper .mobile-preview-box .before,
.logos-wrapper .mobile-previewbox-wrapper .mobile-preview-box .after {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    overflow: hidden;
  }
  .logos-wrapper .mobile-previewbox-wrapper .mobile-preview-box .before .content-image,
.logos-wrapper .mobile-previewbox-wrapper .mobile-preview-box .after .content-image {
    height: 100%;
  }
  .logos-wrapper .mobile-previewbox-wrapper .mobile-preview-box .scroller {
    width: 50px;
    height: 50px;
    position: absolute;
    left: 100px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    background-color: transparent;
    opacity: 0.9;
    pointer-events: auto;
    cursor: pointer;
    filter: invert(1);
  }
  .logos-wrapper .mobile-previewbox-wrapper .mobile-preview-box .scroller:hover {
    opacity: 1;
  }
  .logos-wrapper .mobile-previewbox-wrapper .mobile-preview-box .scrolling {
    pointer-events: none;
    opacity: 1;
    z-index: 1;
  }
  .logos-wrapper .mobile-previewbox-wrapper .mobile-preview-box .scroller__thumb {
    width: 100%;
    height: 100%;
    padding: 5px;
  }
  .logos-wrapper .mobile-previewbox-wrapper .mobile-preview-box .scroller:before,
.logos-wrapper .mobile-previewbox-wrapper .mobile-preview-box .scroller:after {
    content: " ";
    display: block;
    width: 7px;
    height: 9999px;
    position: absolute;
    left: 50%;
    margin-left: -3.5px;
    z-index: 30;
    transition: 0.1s;
  }
  .logos-wrapper .mobile-previewbox-wrapper .mobile-preview-box .scroller:before {
    top: 100%;
  }
  .logos-wrapper .mobile-previewbox-wrapper .mobile-preview-box .scroller:after {
    bottom: 100%;
  }
  .logos-wrapper .mobile-previewbox-wrapper .mobile-preview-box .scroller {
    border: 5px solid rgb(0, 0, 0);
  }
  .logos-wrapper .mobile-previewbox-wrapper .mobile-preview-box .scroller:before,
.logos-wrapper .mobile-previewbox-wrapper .mobile-preview-box .scroller:after {
    background: rgb(0, 0, 0);
  }
  .logos-wrapper .logos-header {
    width: 100%;
    flex-direction: row;
    align-items: center;
    padding: 0.8rem;
  }
  .logos-wrapper .logos-header .dragon-logo {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding: 40px 0px 40px 40px;
    margin-right: -30px;
  }
  .logos-wrapper .logos-header .dragon-logo img {
    max-height: 35px;
  }
  .logos-wrapper .logos-header .logos-header-content {
    flex-direction: row;
  }
  .logos-wrapper .logos-header .logos-header-content .header-info {
    display: none;
  }
  .logos-wrapper .logos-header .logos-header-content .instructions img {
    display: none;
  }
  .logos-wrapper .logos-header .logos-header-content .instructions p {
    max-width: 70%;
    font-size: 0.8rem;
  }
  .logos-wrapper .logos-header .logos-footer {
    display: none;
  }
  .logos-wrapper .logos-container {
    width: 100%;
    display: flex;
    align-items: flex-end;
    overflow-x: scroll;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .logos-wrapper .logos-container .blank-logo {
    display: none;
  }
  .logos-wrapper .logos-container .logo {
    height: 20vh;
    width: 20vh;
    aspect-ratio: 1/1;
    filter: none;
  }
  .logos-wrapper .logos-container .col-1 {
    display: flex;
    flex-direction: row;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .logos-wrapper .logos-container .col-2 {
    display: flex;
    flex-direction: row;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .logos-wrapper .logos-container .col-2 .blank-logo:nth-child(1) {
    display: none;
  }
  .preview-box {
    max-width: 42vh;
    max-height: 42vh;
    top: 50%;
    left: 50%;
    display: none;
  }
  .preview-box .icon {
    display: none;
  }
}
@media screen and (max-width: 62rem) {
  /*Tablets*/
}
@media screen and (max-width: 82rem) {
  /*Small Desktops*/
}/*# sourceMappingURL=styles.css.map */