*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    font-family: "Montserrat", sans-serif;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

h1 {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 3rem;
}

h2 {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
}

p {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.8rem;
}

a,
button {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    text-decoration: none !important;
}

.wrapper {
    padding: 0 2rem;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    text-align: center;

    background-image: url("/wallpaper.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    .hero-title {
        animation: backwards FadeIn 0.5s ease-in-out;
        animation-delay: 0.2s;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 700;
        font-size: 5em;
        color: #fafafa;
    }
    
    .description {
        animation: backwards FadeIn 0.5s ease-in-out;
        animation-delay: 0.4s;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 300;
        font-size: 1.5em;
        color: #fafafa;
        margin-bottom: 1rem;
    }

    #logos {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        animation: backwards FadeIn 0.5s ease-in-out;

        img {
            max-width: 150px;
        }

        .separator {
            width: 1px;
            background-color: #fafafa;
            height: 100%;
        }
    }

    #projects {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;

        a {
            padding: 2rem;
            border: 1px solid #5e5e5e18;
            border-radius: 10px;
            outline: none;
            background-color: #86d407;
            text-decoration: none;
            transition: all 0.3s ease-in-out;
            animation: backwards FadeIn 0.5s ease-in-out;

            &:nth-child(1){
                animation-delay: 0.6s;
            }
            &:nth-child(2) {
                background-color: #6107d4;
                animation-delay: 0.8s;
                h2,
                p {
                    color: #fafafa;
                }
            }
            &:nth-child(3){
                animation-delay: 1s;
            }

            div {
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                h2 {
                    text-decoration: none;
                    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
                    font-weight: 700;
                    font-size: 1.5em;
                    color: #0a0a0a;
                    text-align: left;
                }
                p {
                    text-decoration: none;
                    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
                    font-weight: 400;
                    font-size: 1.1em;
                    color: #0a0a0a;
                    text-align: left;
                }
            }

            &:hover {
                box-shadow: 5px 5px #fafafa;
            }
        }
    }
}

footer {
    position: absolute;
    margin-top: 2rem;
    bottom: 2rem;
    width: 100%;
    p {
        font-size: 0.8em;
        color: #5e5e5e;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 300;
    }
}

@media screen and (max-width: 50rem) {
    .wrapper {
        text-align: center;
        padding: 4rem 2rem;

        .hero-title{
            font-size: 10vw;
        }

        #logos {
            img {
                max-width: 100px;
            }
        }

        #projects {
            grid-template-columns: 1fr;
            grid-template-rows: repeat(3, 1fr);
            a {
                div{
                    h2{
                        font-size: 1.3em;
                    }
                    p{
                        font-size: 1em;
                    }
                }
            }
        }
    }
    h1 {
        font-size: 4rem;
        line-height: 1em;
    }
    p {
        font-size: 1.2em;
    }
}

@keyframes FadeIn{
    0%{
        opacity: 0;
        transform: translateY(-30px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}