@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  font-family: "Montserrat", sans-serif;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

:root {
  --light: #fafafa;
  --dark: #252122;
  --gxs-orange: #ff6c0e;
  --gxs-blue: #1ecad3;
  --gray: #919191;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 5rem;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
}

p {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.8rem;
}

a,
button {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  text-decoration: none !important;
}

.cta {
  background-color: var(--gxs-orange);
  padding: 1rem 1.5rem;
  outline: none;
  border-style: none;
  border-radius: 2rem;
  transition: background-color 0.2s ease-in-out;
  -webkit-animation: backwards fadeIn 0.6s ease;
          animation: backwards fadeIn 0.6s ease;
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}
.cta a {
  color: var(--light);
  text-transform: uppercase;
}
.cta:hover {
  background-color: #fb863c;
}
.cta:active {
  background-color: #b74f0d;
}

#hero {
  height: 100vh;
  display: grid;
  padding: 6rem 12rem;
  gap: 1rem;
  align-items: center;
  grid-template-areas: "content image" "footer footer";
}
#hero .content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: flex-start;
  grid-area: content;
  grid-auto-columns: 1fr;
}
#hero .content h1 {
  color: var(--dark);
  -webkit-animation: backwards fadeIn 0.6s ease;
          animation: backwards fadeIn 0.6s ease;
}
#hero .content h1 span {
  color: var(--gxs-orange);
}
#hero .content p {
  color: var(--gray);
  -webkit-animation: backwards fadeIn 0.6s ease;
          animation: backwards fadeIn 0.6s ease;
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}
#hero .image {
  grid-area: image;
}
#hero .image img {
  -webkit-animation: backwards fadeIn 0.6s ease;
          animation: backwards fadeIn 0.6s ease;
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
  max-width: 50vw;
}
#hero .footer {
  grid-area: footer;
  display: flex;
  align-items: center;
  gap: 3rem;
}
#hero .footer h2 {
  padding-right: 3rem;
  border-right: solid 1px var(--gray);
  -webkit-animation: backwards fadeIn 0.6s ease;
          animation: backwards fadeIn 0.6s ease;
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}
#hero .footer p {
  color: var(--gray);
  max-width: 40%;
  -webkit-animation: backwards fadeIn 0.6s ease;
          animation: backwards fadeIn 0.6s ease;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

#middle {
  background-color: var(--dark);
  color: var(--light);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 4rem 12rem;
}
#middle h2 {
  max-width: 40%;
  text-align: left;
}
#middle i {
  color: var(--gxs-orange);
  font-size: 4rem;
}
#middle p span {
  padding: 1rem;
  margin-left: 1.5rem;
  border: solid 1px var(--gxs-orange);
}

#wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-image: url("./img/white-texture.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
#wrapper #seps-machine {
  margin-top: -63%;
  transition: rotate 0.2s ease;
}
#wrapper #seps-machine #Machine #arm-1 image, #wrapper #seps-machine #Machine #arm-2 image, #wrapper #seps-machine #Machine #arm-3 image, #wrapper #seps-machine #Machine #arm-4 image {
  transition: -webkit-clip-path 0.2s;
  transition: clip-path 0.2s;
  transition: clip-path 0.2s, -webkit-clip-path 0.2s;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
#wrapper #controls {
  width: 100%;
  bottom: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  gap: 1rem;
}
#wrapper #controls .next-btn,
#wrapper #controls .prev-btn {
  border-style: none;
  background: none;
  color: var(--dark);
  font-size: 4rem;
  cursor: pointer;
}
#wrapper #controls .slider {
  width: 33%;
  height: 0.6rem;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 10px;
  background-color: var(--dark);
}
#wrapper #controls .slider::-webkit-slider-thumb {
  -webkit-appearance: none;
          appearance: none;
  background-color: var(--gxs-orange);
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 100%;
}
#wrapper #controls .slider::-moz-range-thumb {
  -moz-appearance: none;
       appearance: none;
  background-color: var(--gxs-orange);
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 100%;
}

@media screen and (max-width: 100rem) {
  #hero {
    padding: 6rem;
  }
  #middle {
    padding: 4rem;
  }
  #wrapper #seps-machine {
    width: 120%;
    margin-top: -75%;
  }
}
@media screen and (max-width: 80rem) {
  #hero {
    position: relative;
    grid-template-areas: "content content" "image image" "footer footer";
    padding: 4rem;
    text-align: center;
  }
  #hero .content {
    align-items: center;
    z-index: 2;
  }
  #hero .image {
    position: absolute;
    opacity: 0.2;
    z-index: 1;
  }
  #hero .image img {
    max-width: 100%;
  }
  #hero .footer {
    flex-direction: column;
    gap: 1rem;
    z-index: 2;
  }
  #hero .footer h2 {
    padding-right: 0;
    border-right: none;
  }
  #hero .footer p {
    max-width: 100%;
  }
  #middle {
    text-align: center;
    flex-direction: column;
    padding: 4rem;
  }
  #middle h2 {
    max-width: 100%;
    text-align: center;
  }
  #middle p span {
    border: none;
    margin-left: 0;
    padding: 0;
  }
  #wrapper #controls .slider {
    width: 50%;
  }
  #wrapper #seps-machine {
    width: 150%;
    margin-top: -95%;
  }
}
@media screen and (max-width: 50rem) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  p {
    font-size: 1rem;
    line-height: 1.5rem;
  }
  #hero .image {
    display: none;
  }
  #wrapper #seps-machine {
    width: 180%;
    margin-top: -115%;
  }
}
@media screen and (max-width: 40rem) {
  #wrapper #seps-machine {
    width: 300%;
    margin-top: -180%;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    translate: 0 -1.5rem;
  }
  100% {
    opacity: 1;
    translate: 0 0;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    translate: 0 -1.5rem;
  }
  100% {
    opacity: 1;
    translate: 0 0;
  }
}/*# sourceMappingURL=styles.css.map */