@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");
:root {
  --light: #fafafa;
  --dark: #252122;
  --gxs-orange: #ff6c0e;
  --gxs-blue: #1ecad3;
  --gray: #919191;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  font-family: "Montserrat", sans-serif;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 3rem;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
}

h4 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.2rem;
}

p {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: min(1vw, 1rem);
  line-height: 1.8rem;
}

a,
button {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: min(1vw, 1rem);
  text-decoration: none !important;
}

.cta {
  background-color: var(--gxs-orange);
  padding: 1rem;
  outline: none;
  border-style: none;
  border-radius: 2rem;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  -webkit-animation: backwards fadeIn 0.6s ease;
          animation: backwards fadeIn 0.6s ease;
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}
.cta a {
  color: var(--light);
  text-transform: uppercase;
}
.cta:hover {
  background-color: #fb863c;
}
.cta:active {
  background-color: #b74f0d;
}

#hero {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 75% 25%;
  position: relative;
}
#hero picture {
  height: 100vh;
  overflow: hidden;
}
#hero .info {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 3.5vw;
  gap: 2rem;
  text-align: left;
}
#hero .info .handwritten {
  font-family: "Courgette", cursive;
  font-size: 3.5vw;
  color: var(--gxs-blue);
  -webkit-animation: backwards FadeIn 0.5s ease-in-out;
          animation: backwards FadeIn 0.5s ease-in-out;
}
#hero .info h1:nth-child(2) {
  font-size: min(1.3vw, 1.5rem);
  margin-top: -3rem;
  -webkit-animation: backwards FadeIn 0.5s ease-in-out;
          animation: backwards FadeIn 0.5s ease-in-out;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
#hero .info p {
  color: var(--gray);
  -webkit-animation: backwards FadeIn 0.5s ease-in-out;
          animation: backwards FadeIn 0.5s ease-in-out;
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}
#hero .info .cta {
  -webkit-animation: backwards FadeIn 0.5s ease-in-out;
          animation: backwards FadeIn 0.5s ease-in-out;
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}
#hero .badge {
  position: absolute;
  background-color: var(--dark);
  border-radius: 100%;
  padding: 1rem;
  bottom: 2rem;
  left: 2rem;
  width: 8rem;
  height: 8rem;
}
#hero .badge img {
  width: 100%;
}

#tools {
  width: 100%;
  padding: 4rem;
  background-color: #f0f0f0;
  text-align: center;
  justify-content: center;
}
#tools h4 {
  color: var(--gray);
  margin-bottom: 1.5rem;
}
#tools .logos {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
#tools .logos img {
  max-height: 70px;
}
#tools .logos img:nth-child(4) {
  height: 60px;
}
#tools .logos img:nth-child(1) {
  height: 40px;
}

.next-icon,
.prev-icon {
  font-size: 4rem;
  color: var(--gxs-orange);
}

#demo {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
#demo header {
  padding-top: 4rem;
}
#demo header p {
  color: var(--gray);
}
#demo main {
  padding: 4rem;
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
#demo main .prev-icon,
#demo main .next-icon {
  cursor: pointer;
  transition: color 0.2s ease;
}
#demo main .prev-icon:hover,
#demo main .next-icon:hover {
  color: #fb863c;
}
#demo main .prev-icon:active,
#demo main .next-icon:active {
  color: #b74f0d;
}
#demo main .preview-box {
  position: relative;
  background: var(--dark);
  max-width: 700px;
  max-height: 700px;
  width: 60vh;
  height: 60vh;
  border-radius: 3px;
  padding: 0;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#demo main .preview-box .before,
#demo main .preview-box .after {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: left;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  overflow: hidden;
}
#demo main .preview-box .before .content-image,
#demo main .preview-box .after .content-image {
  height: 100%;
}
#demo main .preview-box .scroller {
  width: 50px;
  height: 50px;
  position: absolute;
  left: 100px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  background-color: transparent;
  opacity: 0.8;
  pointer-events: auto;
  cursor: pointer;
  filter: invert(1);
}
#demo main .preview-box .scroller:hover {
  opacity: 1;
}
#demo main .preview-box .scrolling {
  pointer-events: none;
  opacity: 1;
  z-index: 1;
}
#demo main .preview-box .scroller__thumb {
  width: 100%;
  height: 100%;
  padding: 5px;
}
#demo main .preview-box .scroller::before,
#demo main .preview-box .scroller::after {
  content: " ";
  display: block;
  width: 7px;
  height: 9999px;
  position: absolute;
  left: 50%;
  margin-left: -3.5px;
  z-index: 30;
  transition: 0.1s;
}
#demo main .preview-box .scroller::before {
  top: 100%;
}
#demo main .preview-box .scroller::after {
  bottom: 100%;
}
#demo main .preview-box .scroller {
  border: 5px solid rgb(0, 0, 0);
}
#demo main .preview-box .scroller::before,
#demo main .preview-box .scroller::after {
  background: rgb(0, 0, 0);
}
#demo footer {
  background-color: #fff;
  width: 100%;
}
#demo footer .footer-wrapper {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: min(25%, 200px);
  overflow-x: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  overscroll-behavior-inline: contain;
  scroll-behavior: smooth;
}
#demo footer .footer-wrapper::-webkit-scrollbar {
  width: 0;
  height: 0;
}
#demo footer .footer-wrapper img {
  inline-size: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  aspect-ratio: 1/1;
  padding: 2rem;
  cursor: pointer;
  filter: brightness(0.5);
  transition: filter 0.2s ease-in-out;
}
#demo footer .footer-wrapper img:hover {
  filter: brightness(1);
}

.snaps-inline {
  -ms-scroll-snap-type: none;
      scroll-snap-type: none;
}

@media screen and (max-width: 65rem) {
  h1 {
    font-size: max(5vw, 3rem);
  }
  h2 {
    font-size: max(3vw, 2rem);
  }
  p {
    font-size: 1rem;
  }
  a,
button {
    font-size: 1rem;
  }
  #hero {
    width: 100%;
    background-image: url("./img/embroidery-bg-mobile.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    grid-template-columns: 100%;
  }
  #hero picture {
    display: none;
  }
  #hero .info {
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
    text-align: center;
    padding: 2rem;
  }
  #hero .info .handwritten {
    font-size: max(6vw, 4rem);
  }
  #hero .info h1:nth-child(2) {
    font-size: max(3vw, 1.5rem);
    color: var(--light);
  }
  #hero .badge {
    width: 8rem;
    height: 8rem;
    bottom: -4rem;
    left: calc(50% - 4rem);
  }
  #tools {
    padding-top: 5rem;
  }
  #tools .logos {
    flex-direction: column;
  }
  #tools .logos img:nth-child(1) {
    height: 30px;
  }
  #tools .logos img:nth-child(4) {
    height: 40px;
  }
  .snaps-inline {
    -ms-scroll-snap-type: inline mandatory;
        scroll-snap-type: inline mandatory;
  }
  .snaps-inline > * {
    scroll-snap-align: start;
  }
}
@media screen and (max-width: 40rem) {
  .next-icon,
.prev-icon {
    display: none;
  }
  #demo header {
    padding: 2rem;
  }
  #demo main {
    padding: 2rem;
  }
  #demo main .preview-box {
    width: 83.3333333333vw;
    height: 83.3333333333vw;
    aspect-ratio: 1/1;
  }
  #demo footer .footer-wrapper {
    grid-auto-columns: 40%;
  }
  #demo footer .footer-wrapper > img {
    padding: 1rem;
  }
}
@media screen and (max-width: 25rem) {
  h1 {
    font-size: max(2vw, 2rem);
  }
  p {
    font-size: max(1vw, 0.8rem);
    line-height: calc(max(1vw, 0.8rem) + 0.6rem);
  }
  a,
button {
    font-size: max(1vw, 0.8rem);
  }
  #hero .info .handwritten {
    font-size: max(3vw, 3rem);
  }
  #hero .info h1:nth-child(2) {
    font-size: max(1.2vw, 1.2rem);
    margin-top: -2rem;
  }
  #hero .badge {
    width: 5rem;
    height: 5rem;
    padding: 0.5rem;
    bottom: -2.5rem;
    left: calc(50% - 2.5rem);
  }
}
@-webkit-keyframes FadeIn {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes FadeIn {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}/*# sourceMappingURL=styles.css.map */